<h1>Add a bookmark to <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <div>
    <%= f.input :movie_id, collection: Movie.all, prompt: "Select a movie" %>
  </div>

  <div>
    <%= f.input :comment %>
  </div>

  <div>
    <%= f.button :submit, "Add Bookmark", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Back to list", list_path(@list) %>
